
body { margin:0; padding:0;height:100%;font-family:arial }
html, body {
    height : 100%;
}
#map-google,#map-bing {
    width:100%;
    min-height:400px;
    position:relative
}
#open-menu {
    top:35px
}
#menu{
    top:78px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 3px rgba(0, 0, 0, 0.8);
}
.standard-tabs > .tabs{
    height:40px;
    padding-top:0px;
    top:-4px

}
.accordion {
    border-radius:0px
}
.selectcustom{
    border-radius: 4px;padding: 0px 9px;border: 0px none;padding-top: 3px;padding-bottom: 3px;line-height: 16px;box-shadow: 0px 0px 0px 1px rgba(51, 153, 255, 0) inset, 0px 2px 5px rgba(0, 0, 0, 0.35) inset, 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 0px 0px rgba(51, 153, 255, 0);background: -moz-linear-gradient(center top , #FFF, #E6E6E6) repeat scroll 0% 0% transparent;
}
.modalposition{
    padding:2px;
    margin:2px;
    border:2px

}

  .tables .dropbtn {
      background-color: white;
      color: black;
      padding: 4px;
      font-size: 16px;
      border:1px solid black;
      cursor: pointer;
      width: 100px;

  }

.tables.dropdown {
    position: relative;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25%;

}

.tables .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.tables .dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    cursor:pointer;
}

.tables.dropdown:hover .dropdown-content {
    display: block;
}


.nowrap {
    white-space:nowrap;
}

.table_body_viewport > .mCSB_scrollTools {
    position: fixed;
    top: 200px;
    right: 286px;
    bottom: 80px;
}

.div-print {
    display: none;
}
@media print {
    .div-screen {
        display: none;
    }
    .div-print {
        display: block;
    }
}

.navbar-default {
    background-color: transparent;
}